@{
    ViewData["Title"] = "Home Page";
}

<section class="section">
    <div class="section-header">
        <h1>General Settings</h1>
    </div>
    <div class="section-body">
        <h2 class="section-title">Shorten, share and track</h2>
        <p class="section-lead">
            Your shortened URLs can be used in publications, documents, advertisements, blogs, forums, instant messages, and other locations. Track statistics for your business and projects by monitoring the number of hits from your URL with the click counter, you do not have to register.
        </p>
        <div class="row">

            <div class="col-12 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Short links, big results</h4>
                    </div>
                    <div class="card-body">
                        <div class="empty-state" data-height="600">
                            <img class="img-fluid" src="~/assets/img/drawkit/drawkit-full-stack-man-colour.svg" alt="image">
                            <h2 class="mt-0">Inspire trust</h2>
                            <p class="lead">
                                A URL shortener built with powerful tools to help you grow and protect your brand.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-sm-12">

                <div class="card">
                    <div class="card-header">
                        <h4>Why Choose Bitly</h4>
                    </div>
                    <div class="card-body">

                        <div class="empty-state" data-height="600">
                            <img class="img-fluid" src="~/assets/img/drawkit/drawkit-nature-man-colour.svg" alt="image">
                            <h2 class="mt-0">The link shortener that has your brand’s back</h2>
                            <p class="lead">
                                Your brand wasn’t built to be hidden. Help it stand out with branded links that drive more clicks
                            </p>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>